<a href="https://colab.research.google.com/github/Marlon-urtecho/DataFrameOpeaation/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Crear un conjunto de datos

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Crear un conjunto de datos a partir de valores alentorios
data = np.random.randint(1,5, size=(5,3))
print(data)

[[4 2 4]
 [4 2 1]
 [3 1 3]
 [1 3 3]
 [3 4 2]]

In [4]:
#crear un dataFrame a partir de los dato de varible data
pd = pd.DataFrame(data, columns=['A', 'B', 'C'])
print(pd)

   A  B  C
0  4  2  4
1  4  2  1
2  3  1  3
3  1  3  3
4  3  4  2

In [5]:
#mostrar las primeras 2 filas del dataFrame
print(pd.head(2))

   A  B  C
0  4  2  4
1  4  2  1

In [6]:
#Presentar Datos estadisticos del data frame
print(pd.describe())

              A         B         C
count  5.000000  5.000000  5.000000
mean   3.000000  2.400000  2.600000
std    1.224745  1.140175  1.140175
min    1.000000  1.000000  1.000000
25%    3.000000  2.000000  2.000000
50%    3.000000  2.000000  3.000000
75%    4.000000  3.000000  3.000000
max    4.000000  4.000000  4.000000

In [8]:
#creando un columna creada con 'D' del resultado de la suma de 'A' y 'B'
pd['D'] = pd['A'] + pd["B"]
print(pd)

   A  B  C  D
0  4  2  4  6
1  4  2  1  6
2  3  1  3  4
3  1  3  3  4
4  3  4  2  7

In [10]:
#Flitar filas donde el valor de la columna 'A' es mayor que 2
filtered_data = pd[pd['A'] > 2]
print(filtered_data)

   A  B  C  D
0  4  2  4  6
1  4  2  1  6
2  3  1  3  4
4  3  4  2  7

In [12]:
#Para el promedio de una columna en esoecifico en este caso para 'A'
Average_A = pd['A'].mean()
print(Average_A)

2.4

In [16]:
#Para crear un data Frame con datos inicializados
import numpy as np
import pandas as pd

info = {'Name':['Tomas', 'Juan', 'Salvador', 'Roberto'], 'Age':['28', '30', '24', '22'],'city':['Managua', 'Rivas', 'Granada', "carazo"]}
df = pd.DataFrame(info)
print(df)

       Name Age     city
0     Tomas  28  Managua
1      Juan  30    Rivas
2  Salvador  24  Granada
3   Roberto  22   carazo

# Nueva secci√≥n